/* MAIN LAYOUT/THROUGHOUT PAGE */

.header {
    padding: 0.5em 0 0.5em 0;
    background-color: #00ACD7;
    color: white;
    letter-spacing: .3em;
}

.side-title-text {
    padding: 1em 0 0.1em 0;
    letter-spacing: .06em;
}
.side-explain-text {
    padding: 0.1em 0 0 0;
    margin-bottom: 0;
    font-size: 0.85em;
    color: darkgrey;
    line-height: 1.25;
}
.side-content {
    padding-top: 1.5em;  
}

.clickable {
    cursor: pointer;
}
.not-clickable {
    cursor: default
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.btn-secondary {
    background-color: #B3B3B3 !important; 
    border-color: #B3B3B3 !important; 
}

.tooltip-inner {
    background-color: dimgrey;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: dimgrey;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: dimgrey;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: dimgrey;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: dimgrey;
}

.card-body {
    padding: 0.75em;
}



/* MAP */

#map-area {
    /* negative margin to compensate for error msg on top */
    margin-top: -3.5em;
    /* forces resize of entire map    */
    padding: 0 5%;
}

.state-path {   
    stroke: white;
    stroke-width: 2;
}
.state-path.state-default {
    fill: gainsboro !important;
    opacity: 1.0 !important;
}
.state-path.state-active {
    fill: #FF00FF;
    opacity: 0.2;
    filter: saturate(70%);     
}

.city-circle.city-default {
    fill: #00ACD7 !important; 
    stroke: #00ACD7 !important;
    stroke-width: 0.25 !important;
    stroke-dasharray: 0 !important;
    /* specifies stroke then fill on top */
    paint-order: stroke !important;
    opacity: 0.75 !important;

}
.city-circle.tech-hub {
    fill: #00ACD7 !important; 
    stroke: #33D6FF !important;
    stroke-width: 6 !important; 
    stroke-dasharray: 0 !important;  
}
.city-circle.city-active {
    fill: #FF00FF;
    stroke: #FF00FF;
    stroke-width: 3;
    paint-order: stroke; 
    opacity: 0.75;
}

#top-cities-error-msg {
    padding-top: 1em;
}

#master-reset-btn {
    margin-top: -8%;
    margin-right: 2em;
    padding: 0.25em 1em;
    font-size: 0.8em;
    letter-spacing: .06em;
}
#master-reset-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}



/* CITY DATA */

.city-header {
    padding: 0.5rem 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.city-data-top-title {
    padding-bottom: 0;
    margin-bottom: 0;
}

.filter-btn-group {
    padding: 0.8em 0 0.8em 0;   
}
.filter-button {
    font-size: 0.75em !important;
}
.icon-button {
    padding: 0.25em 1.5em !important;   
}

#div-salaries-list {
    margin-top: 0;
    margin-bottom: -0.25em;
    padding-left: 0.75em;
}
.div-sal-pair {
    padding-bottom: 0.7em;
}
.reg-sal-row, 
.adj-sal-row {
    margin-bottom: 0;
}
.sal-list-job-title {
    color: dimgrey;
    font-size: 0.85em;
    letter-spacing: .06em;
}
.sal-list-salary {
    color: #00ACD7;
    font-size: 0.85em;
    letter-spacing: 0.08em;
}
.sal-list-adj-text,
.sal-list-adj-salary {
    padding: 0;
    font-size: 0.7em;
    text-transform: uppercase;
    color: darkgrey;
}
.sal-list-adj-salary {
    color: #60939F;
    opacity: 0.75;
}

#div-tech-pop-chart {
    padding: 0 1.5em 0 2em;
}
.donut-wedge-path {
    opacity: 0.9;    
}
.wedge-label {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
        Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",
        "Noto Color Emoji";
    fill: white;
    font-size: 1em;
    font-weight: 600;    
}

/* also used in national data charts */
#div-tech-pop-legend {
    padding-right: 0;
}
.list-group-item.legend-item {
    padding: 0.2em 0.2em;
}
.legend-square {
    font-size: 0.7em;
    opacity: 0.9;
}
.legend-text {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
        Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",
        "Noto Color Emoji";
    color: #212529;
    font-size: 0.8em;
    font-weight: 400;
}


/* LANGUAGE LIST */

.lang-list-item {
    list-style-type: none;                            
    text-transform: capitalize;
}

#ul-lang-sublist {
    padding: 0.5em 0 0 2em;
}

.arrow-icon {
    color: gainsboro;
    font-size: .75em;
    padding-left: 1em;
}

.list-group-item.sublist-item {
    word-wrap: break-word;
    border: none;
}

.lang-list-item.has-logo {
    margin-left: 0;
    padding: 0.25em 0 0.25em 2em;
    background-size: 1.20em;
    background-repeat: no-repeat;
    background-position: left center;
}



/* NATIONAL CHARTS */

#national-trends-area {
    padding: 1em 0 0.5em 0;
}

#div-nat-charts-row {
    padding: 0 1em 0 0.7em;
}

.axis path, .axis line {
    visibility: hidden;
}
.axis text {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
        Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",
        "Noto Color Emoji";
    color: #6c757d;
    font-size: 0.9em;
    font-weight: 700;
}

.chart-title {
    padding: 0;
    margin: 0;  
}
.chart-subtitle {
    padding: 0;
    margin: 0;
    color: darkgrey;
    font-size: 0.8em;
}

.small-legend-container {
    padding-left: 1em;
}
.small-legend-square {
    font-size: 0.5em;
}
.small-legend-text {
    color: #6c757d;
    font-size: 1.1em;
    font-weight: 600;
}

